.head-container {
    display: flex;
    background-color: #1f2937;
    height: 130px;
    
    

}


 .head-container-nav { 
     display: flex;
     align-items: center;
    
 }

 .head-container-nav div {
    justify-content: flex-end;
    align-items: center;
 }


.logo {
    width: 130px;
    height: 130px;
    padding-left: 50px;
}

.head-container div {
    flex: 1;
    color: white;
}

 


.text-container {
    display: flex;
    background-color: lightgray;
    color: ##1F2937;
    height: 250px;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 30px;
}

.picture-container {
    display: flex;
    height: 300px;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.picture-item {
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
    border: 2px solid #3882F6;
    border-radius: 25px;

}

.pic-in-container {
    width: 160px;
    height: 160px;
    border-radius: 20px;
}

.pic-container-text {
    font-size: 36px;
    text-align: center;
    padding-top: 18px;
}

.text-container1 {
    font-style: italic;
    color: ##1F2937;
}


.intro-container {
    display: flex;
    height: 300px;
    padding: 20px;
    padding-bottom: 70px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.intro-item {
    width: 450px;
    height: 250px;
    align-items: center;
    justify-content: center;
    border: 2px solid #3882F6;
    

}

.intro-pic-cont {
    width: 450px;
    height: 250px;
}

.intro-container2 {
    display: flex;
    height: 300px;
    padding: 20px;
    padding-bottom: 70px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.intro-item1 {
    font-size: 48px;
}